<div class="d-flex justify-content-center">
  <app-policy-table
    [percentage]="percentageAllocation"
    [inputParentage]="parentagePolicy"
    [quantityInParentageMedicalAsistance]="quantityInParentageMedicalAsistance"
    (beneficiariesPolicyEmitter)="getBeneficiariesPolicy($event)"
    (formValidPolicyEmitter)="formValidPolicy($event)"></app-policy-table>
</div>

<div class="d-flex justify-content-center mt-5">
  <app-medical-assistance-table
    [quantityInParentagePolicy]="quantityInParentagePolicy"
    [inputParentage]="parentageMedicalAssitance"
    (beneficiariesMediacalAssitanceEmitter)="getBeneficiariesMediacalAssitance($event)"
    (formValidMedicalAsstanceEmitter)="formValidMedicalAsstance($event)"></app-medical-assistance-table>
</div>


{{percentageIsDiferentZero | json}}
{{isFormValidPolicy | json}}
{{isFormValidMedicalAsstance | json}}
<div class="d-flex justify-content-center mt-5">
  <button type="button" class="btn btn-sm btn-success"
    [ngClass]="{disabled: !disabledBtn}"
    (click)="createBeneficiaries()">Guardar y Finalizar</button>
</div>
